The `slides.md` are my slides for the talk in the Nuxt Nation conference where I'll present Nuxt UI v3: https://ui3.nuxt.dev/getting-started.

Adapt the tone without complicated sentences, I'm not native english.